h1, h2 {
  font-family: 'Varela Round', sans-serif; }

.jumbotron {
  margin: 0;
  padding: 20px;
  background-image: linear-gradient(to right, #faa508, black);
  color: white; }

.navbar {
  background-color: black; }

footer {
  background-image: linear-gradient(#faa508, white);
  padding: 20px 0; }